<%= form_with(model: task) do |form| %>
  <%= render "shared/errors", object: task %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.datetime_field :due_date %>
  </div>

  <div>
    <%= form.label :priority %>
    <%= form.select :priority, options_for_select(Task::PRIORITY), prompt: "Select a priority" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
