<div data-search-target="task" id="task_<%= task.id %>"
    class="card task-card p-2 my-4 border border-dark-subtle shadow-lg <%= 'dark-card' if local_assigns[:completed] %>">

  <span class="d-flex">
    <p class="w-50" data-search-target="title">
      <strong>Title:</strong> <span id="title"><%= task.title %></span>
    </p>
    <p class="w-50" data-search-target="description">
      <strong>Description:</strong> <span id="description"><%= task.description %></span>
    </p>
  </span>

  <span class="d-flex">
    <p class="w-50"><strong>Due date:</strong> <%= task.due_date %></p>
    <p class="w-50"><strong>Priority:</strong> <%= task.priority %></p>
  </span>

  <!-- Desktop / tablet ≥ 1401px -->
  <div class="row align-items-center d-above-1400 g-2 mt-2">
    <div class="col-md-6">
      <strong>User:</strong> <%= task.user.name %> (<%= task.user.username %>)
    </div>

      <div class="col-md-6">
        <div class="row g-2">
          <div class="col">
            <%= link_to "Add Comment", new_task_comment_path(task), class: "btn btn-primary w-100" %>
          </div>
          <div class="col">
            <%= link_to "View Comments", task, class: "btn btn-primary w-100" %>
          </div>
          <div class="col">
            <%= link_to "Show this task", task, class: "btn btn-primary w-100" %>
          </div>
          <div class="col">
            <%= toggle_completion_button(task, class: "w-100") %>
          </div>
      </div>
    </div>
  </div>

  <!-- Mobile ≤ 1400px -->
  <div class="d-below-1400 mt-2">
    <div class="mt-2">
      <strong>User:</strong> <%= task.user.name %> (<%= task.user.username %>)
    </div>
    <div class="dropdown w-100">
      <button class="btn btn-primary dropdown-toggle w-100" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
        Task Actions
      </button>
      <ul class="dropdown-menu w-100">
        <li><%= link_to "Add Comment", task, class: "dropdown-item" %></li>
        <li><%= link_to "View Comments", task, class: "dropdown-item" %></li>
        <li><%= link_to "Show this task", task, class: "dropdown-item" %></li>
        <li>
          <%= toggle_completion_button(task, class: "dropdown-item text-start", form_class: "m-0 p-0") %>
        </li>
      </ul>
    </div>

  </div>
</div>
