<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% if current_user_admin? %>
    <%= link_to "Show All users", users_path %>
  <% end %>

  <%= button_to "Delete User",
      user_path(@user),
      method: :delete,
            data: { turbo_confirm: "Delete #{@user.name}? This will permanently remove #{pluralize(@user.tasks.count, 'task')} and #{pluralize(@user.comments.count, 'comment')}." }%>
</div>


  <% if @tasks.present? %>
    <h3 class="mt-5">Tasks</h3>
    <% @tasks.each_with_index do |task, index| %>
        <div class="mt-4">
          <span class="title">
            <%= "#{index + 1}. " %>
            <%= link_to task.title, task %>
          </span>
        </div>

      <% unless index == @tasks.size - 1 %>
        <hr>
      <% end %>
    <% end %>
  <% end %>
